/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body{
  padding: 50px;
  font-family: 'Open Sans', sans-serif;
  font-weight: lighter;
}

.container{
    margin:auto;
    
}

.flexcontainer {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
}
.flexcontainer.center{
  align-items: center;
  justify-content: center;
}

.box{
  background-color: orange;
  padding: 10px;
  border: solid #000000 1px;
}

.angucomplete-holder{
  width:80%;
}

.angucomplete-row:hover{
  background-color: lightblue;
  color: #ffffff;
  cursor: pointer;
}

#ex1_value {
  padding: 10px;
  min-width: 280px;
  width:100%;
}

#ex1_dropdown{
  border: 1px solid #ccc;
  border-top-color: #d9d9d9;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  -webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  padding: 10px;
}

.tag{
font-weight: bolder;
  &:hover {
    text-decoration:underline;
    cursor: pointer;
  }
}
#filter{
  background-color: #eee;
  width: 200px;
  max-height: 185px;
  overflow: auto;
  border: solid 1px #ccc;
  border-top: none;
  #companyFilter{
    width: 96%;
    margin: 2%;
  }
  .form-group{
    margin: 10px;
    margin-right: 0px;
    input[type="checkbox"]{
      height: auto;
      margin: 0px;
    }
  }
}
.full-width{
 width:100%;
}

.input-group{
  a {
    cursor: pointer;
    &:hover{
      background-color: #e6e6e6;
    }
  }
}
.filter-active{
  border-bottom-left-radius: 0;
}